<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>de.nrw.hbz.deepzoomer.serviceImpl</display-name>
  <servlet>
    <servlet-name>DeepZoomer REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>de.nrw.hbz.deepzoomer.serviceImpl</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeepZoomer REST Service</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jspExampleClient</servlet-name>
    <jsp-file>/jsp/example.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jspExampleClient</servlet-name>
    <url-pattern>/example/*</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>jspExampleClient</servlet-name>
    <jsp-file>/jsp/viewer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>jspExampleClient</servlet-name>
    <url-pattern>/viewer/*</url-pattern>
  </servlet-mapping>
  
</web-app>